 body {
            margin: 0;
            padding: 0;
            font-family: Arial;
            background-color: #fffaf0;
        }

        header {
            background-color:  rgba(13,27,58,0.92);
            color: white;
            text-align: center;
            padding: 20px;
        }

        nav {
            background-color: rgba(13,27,58,0.92);
            text-align: center;
            padding: 10px;
             display:flex;
            gap:50px;
            align-items:center;
            
             justify-content: center;
            
        }

        nav a {
            color: white;
            margin: 10px;
            text-decoration: none;
            font-weight: bold;
        }

        nav a:hover {
            text-decoration: underline;
        }

        /* Main content area */
        .section-box {
            background: rgba(13,27,58,0.92);
            color: white;
            padding: 20px;
            width: 90%;
            max-width: 1000px;
            margin: 20px auto;
            border-radius: 6px;
        }

        h2 {
            color: #ffffff;
        }

        /* Hero banner for Home */
        #home {
            background-image: url('https://images.pexels.com/photos/256559/pexels-photo-256559.jpeg');
            background-size: cover;
            background-position: center;
            height: 550px;
            color: white;
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            text-shadow: 2px 2px 5px black;
        }



        button {
          border: 0px;
           transition: 0.3s ease;
}
         button:hover {
            transform: scale(1.05);
              box-shadow: 0 10px 20px rgba(0,0,0,0.3);
        }


img {
          
           transition: 0.3s ease;
           gap: 100px;
           
  }
         img:hover {
            transform: scale(1.05);
              box-shadow: 0 10px 20px rgba(0,0,0,0.3);
            
        }

.grid {
        border-radius: 6px;    
        gap: 30px;
}



        footer {
            background-color: #1c3578;
            color: white;
            text-align: center;
            padding: 15px;
            margin-top: 30px;
        }